body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container {
    height: 1.5rem;
    width: 440px;
}

.slider-label {
    position: absolute;
    bottom: 20px;
}

.tick {
    position: absolute;
    height: 35px;
    border: 1px solid black;
    width: 0px;
    display: inline;
    top: -15px;
}

#slider-range {
    border: none;
    background: black;
    height: 2px;
}

.ui-slider-range {
    background: black !important;
    border: 2px solid black !important;
}

.ui-slider-handle {
    background: black !important;
    border: none !important;
    border-radius: 50% !important;
    top: -8px !important;
}