body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container {
    height: 1.5rem;
    width: 440px;
}

#slider-range {
    border: 1px solid lightgray;
    background: lightgray;
    height: 2px;
}

.ui-slider-range {
    background: black !important;
    border: 1px solid black !important;
}

.ui-slider-handle {
    background: black !important;
    border: none !important;
    border-radius: 50% !important;
    top: -8px !important;
}